$primary-color: #13183f;
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/PlusJakartaSans-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/PlusJakartaSans-ExtraBold.ttf") format("truetype");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/PlusJakartaSans-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: linear-gradient(#FFFFFF, #F0F1FF) ;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  color: inherit;
}
a {
  text-decoration: none;
}
button {
  background-color: inherit;
  cursor: pointer;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.container {
  width: 100%;
  // tablet container padding: 80px
  // original max-width: 1110px
  max-width: 1190px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}
// We have more button elements, therefore we need to use single class for theme
.btn {
  color: white;
  border-radius: 100px;
  padding: 14px 32px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  text-transform: capitalize;
  transition: all 300ms;
  &.btn-primary {
    background-color: $primary-color;
    &:hover {
      background-color: #666ca3;
    }
  }
  &.btn-secondary {
    background-image: linear-gradient(#ff6f48, #f02aa6);
    &:hover {
      opacity: 50%;
    }
  }
}
// DESKTOP VERSION: 1301px -> screen
.intro-section {
  overflow: hidden;
  // HEADER
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    margin-bottom: 87px;
    .logo {
      display: inline-block;
    }
  }
  // CONTENT
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      width: 100%;
      max-width: 457px;
      .title {
        font-size: 56px;
        line-height: 70px;
        font-weight: 800;
        margin-bottom: 30px;
      }
      .description {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 40px;
        color: #83869a;
      }
    }
    .right {
      padding-right: 54px;
      .user-photo {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1008px;
          transform: rotate(45deg);
          transform-origin: 51% 84%;
          border-radius: 160px;
          background-image: linear-gradient(#4851ff, #f02aa6);
          z-index: -1;
        }
        .img-wrapper {
          display: flex;
          align-items: flex-end;
          width: 317px;
          height: 560px;
          padding-top: 77px;
          overflow: hidden;
          border-radius: 160px;
          background-image: linear-gradient(#ff6f48, #f02aa6);
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        // We have two cards, thus we wrote one common class for both of theme
        .info-card {
          position: absolute;
          padding: 20px 24px;
          background-color: white;
          box-shadow: 0 34px 54px rgba(#06168d29, 16%);
          border-radius: 20px;
          z-index: 10;
          p {
            color: #83869a;
            font-size: 16px;
            line-height: 28px;
            font-weight: 700;
            margin-bottom: 2px;
          }
          span {
            color: $primary-color;
            font-size: 40px;
            line-height: 50px;
            font-weight: 800;
          }
        }
        .card-1 {
          width: 200px;
          bottom: 17.5%;
          left: -38%;
        }
        .card-2 {
          width: 155px;
          top: 18%;
          right: -37%;
        }
      }
    }
  }
}

.info-wrapper{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  margin-top: 86px;
  .card-item{
    background-color: white;
    padding: 0 32px 40px 32px;
    border-radius: 20px;
    h3{
      padding: 32px 0 24px;
      font-weight: 800;
      line-height: 31px;
      font-size: 24px;
      color: #13183F;
    }
    p{
      color: #83869A;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 24px;
    }
    a{
      color: #F74780;
      font-weight: 700;
      line-height: 28px;
      font-size: 18px;
      &:hover{
        color: #FFA7C3;
      }
    }
    &:nth-child(1){
      background: linear-gradient(#FF6F48, #F02AA6) ;
      padding: 64px 32px 168px 32px;
      color: white;
      font-weight: 800;
      line-height: 40px;
      font-size: 32px;

    }
  }
  
}
.footer-wrapper{
  margin-top: 140px;
  background-color: #13183F;
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    .logo {
      display: inline-block;
    }
    .btn {
      color: white;
      border-radius: 100px;
      padding: 14px 32px;
      font-size: 18px;
      line-height: 28px;
      font-weight: 700;
      text-transform: capitalize;
      transition: all 300ms;
      background: linear-gradient(#4851FF, #F02AA6);
      &.btn {
        background: linear-gradient(#FFA7C3);
        &:hover {
          opacity: 50%;
        }
      }
    }
  }
}

// UI changes stats from 1300px, therefore we need to make responsive design from this dimension
// 993px -> 1300px
@media screen and (max-width: 1300px) {
  .intro-section {
    .header{
      a{
        img{
          width: 89px;
          height: 35px;
        }
      }
      .btn{
        width: 140px;
        height: 48px;
        font-size: 16px;
        padding: 9px 24px;
      }
    }
    .content {
      .left{
        .title{
          font-size: 40px;
          line-height: 71px;
          margin-bottom: 25px;
        }
        .description{
          font-size: 16px;
          line-height: 26px;
          margin-bottom: 24px;
        }
        .btn-secondary{
          width: 167px;
          height: 56px;
          font-size: 16px;
          line-height: 26px;
          
        }
      }
      .right {
        .user-photo {
          &::after {
            content: "";
            transform-origin: 51% 89%;
          }
          .img-wrapper{
            width: 217px;
            height: 382px;
            padding-top: 52px;
            img{
              width: 238px;
              height: 329px;
            }
          }
          .card-1{
            width: 155px;
            height: 100px;
            top: 73%;
            .card-title{
              font-size: 14px;
              line-height: 28px;
            }
            .card-number{
              font-size: 32px;
              line-height: 41px;
            }
          }
          .card-2 {
            width: 105px;
            height: 100px;
            top: -3%;
            right: -24%;
            .card-title{
              font-size: 14px;
              line-height: 28px;
            }
            .card-number{
              font-size: 32px;
              line-height: 41px;
            }
          }
        }
      }
    }
  }
  .info-wrapper{
    display: grid;
    grid-template-columns: auto auto ;
    .card-item{
      height: 259px;
      h3{
        font-size: 20px;
        line-height: 25px;
        padding: 24px 0 16px;
      }
      p{
        font-size: 16px;
        line-height: 26px;
      }
      &:nth-child(1){
        font-size: 24px;
        line-height: 32px;
      }
    }

  }
}

// MOBILE RESPONSIVE
@media screen and (max-width: 768px) {
  .intro-section{
    overflow: visible;
    .content{
      display: block;
      .right{
        padding: 0;
        padding-top: 70px;
        .user-photo{
          .img-wrapper{
            margin: auto;
            width: 329px;
            height: 329px;
            border-radius: 50%;
            img{
              width: 100%;
              object-fit: cover;
            }
          }
          .card-1{
            left: 0;
          }
          .card-2{
            right: 0;
          }
          &::after{
            content: "";
            display: none;
          }
        }
      }
    }
  }
  
  .info-wrapper{
    grid-template-columns: auto;
  }
  
}